body{
  background-color: black;
}
.App {
  
  background-color: black;
  color: wheat;
}
h1{
  font-family: fantasy;
  display: inline-flex;
  
}
.top1{
  padding-left: 300px;
}
.top2{
  padding-left: 300px;
}
.title{
  font-size: 24px;
  display: flex;
  padding-left: 10px;
}

.section{
  border-style: ridge;
  width:50%;
  display: flex;
}
.bios{
  text-align: left;
  padding: 10px;
  padding-left: 15px;
}
.score{
  border-style: ridge;
  width:48%;
  
  float: top-right;
  padding-bottom: -300px;
}